<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
    {% include meta_tags/base.html %}
    {% include externals/styling.html %}
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
            processEscapes: true
        }
        });
    </script>
</head>
<body>
<div class="wrapper">
{% include header.html %}

{% if page.collection == "posts" %}
<div class="language-switcher">
    {% if page.lang == "en" %}
        <a href="{{ page.url | replace: '.en', '.zh' }}" >中文</a>
    {% elsif page.lang == "zh" %}
        <a href="{{ page.url | replace: '.zh', '.en' }}" >English</a>
    {% endif %}
</div>
{% endif %}

{{ content }}
</div>
{% include externals/scripting.html %}
</body>
</html>